@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */

* {
    container-sizing: border-container;
}

/* removes outline of every component */
*:focus {
    outline: 0 !important;
}

body{
    background: #240046 url("../images/wallpaper.jpg") no-repeat center center/cover;
    color: #CED4DA;
    font-family: 'Questrial', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

/* heading properties */
h1 {
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 35px;
}

p {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

/* img properties */
img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background: transparent;
}

/* container properties */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    transform: scale(1);
}

.btn {
    color: white;
    background: #5d6786;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline: none;
    cursor: pointer;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
}

.currency select {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: 600;
    background: white;
}

#currency-one {
    background-color: #397a0c;
    color: white;
    cursor: pointer;
}

#currency-two {
    background-color: #5517c4;
    color: white;
    cursor: pointer;
}

input {
    /* padding: 5px 15px; */
    padding: 5px 15px;
    width: 100px;
    height: auto;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    background: white;
    outline: none;
}